numpy
pandas
scikit-learn
nltk
scipy
tqdm
gensim
sentence-transformers
tensorflow
tensorflow-hub
setuptools
hdbscan
wikipedia
spacy
Wikipedia-API
# After pip install, also run:  python -m spacy download en_core_web_sm